* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

header {
  box-shadow: 0px 3px 10px rgba(0,0,0,0.3);
  position: sticky;
  top: 0;
  background-color: white;
}

nav {
  min-height: 10vh;
  margin: auto;
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav h1, 
nav ul {
  color: #5877BA;
  font-size: 1.2rem;
  flex: 1;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
}

nav a {
  color: #303030;
  text-decoration: none;
}

section {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

section h2 {
  font-size: 2rem;
  color: #5877BA;
}

.active {
  position: absolute;
  z-index: -2;
  width: 0;
  height: 2px;
  background: #5877BA;
  transition: all 0.5s ease-out;
}





